<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- add CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/side-bar.css">
    <link rel="stylesheet" href="../Styles/configuracion.css">
    <title>Configuración</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <i class="bx bx-menu" id="sidebarOpen"></i>
      </div>
    </nav>
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <li class="menu_item">
            <a href="../Views/home.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home"></i>
              </span>
              <span class="navlink">Home</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis calificaciones</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis cursos</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Settings</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/moreOptions.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Ver todo</span>
            </a>
          </li>
          <div class="bottom-content">
          <!-- user profile  -->
          <div class="profile_section">
            <div class="profile_info">
              <a href="../Views/userProfile.html">
                <img src="ruta_de_la_imagen.jpg" alt="Imagen de perfil" class="profile_image">
              </a>
              <p class="user-name">salashiram@outlook.com</p>
            </div>
          </div>
          <!-- Cerrar sesión -->
          <div class="logout-container">
            <li class="menu_item">
              <a href="#" id="logoutButton" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-log-out"></i>
                </span>
                <span class="navlink">Cerrar sesión</span>
              </a>
            </li>
          </div>
          </div>
        <div class="collapse_content">
          <div class="collapse expand_sidebar">
            <span></span>
            <i class="bx bx-chevron-right"></i>
          </div>
          <div class="collapse collapse_sidebar">
            <span></span>
            <i class="bx bx-chevron-left"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <h3>Configuración</h3>
        <p>Configuración de accesos directos, favoritos, colores y más.</p>
      </div>
    </div>
    <script src="../Controllers/sideBar.js"></script>
  </body>
</html>
