<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/login.css">
    <link rel="stylesheet" href="../Styles/register.css">
    <link rel="stylesheet" href="../Styles/carousel.css">
    <link rel="stylesheet" href="../Styles/pass-recover.css">
    <script defer src="../Views/carousel.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Mi Portal Tecmilenio</title>
</head>
<body>
    <section> 
        <!--carousel starts -->
        <section id="container-slider">    
            <a href="javascript: funcionEjecutar('anterior');" class="arrowPrev"><i class="fas fa-chevron-circle-left"></i></a>
            <a href="javascript: funcionEjecutar('siguiente');" class="arrowNext"><i class="fas fa-chevron-circle-right"></i></a>
            <ul class="listslider">
              <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
              <li><a itlist="itList_1" href="#"></a></li>
              <li><a itlist="itList_2" href="#"></a></li>
            </ul>
            <ul id="slider">
              <li style="background-image: url('../Resources/carrousel/img1.jpg'); z-index:0; opacity: 1;">
                <div class="content_slider" >
                  <div>
                    <!-- <h2>Imagen 1</h2>
                <p>Escribe el texto que aparecerá sobre la imagen número 1.</p>
                <a href="#" target="_blank" class="btnSlider">Acceder</a> -->
              </div>
                </div>
              </li>
              <li style="background-image: url('../Resources/carrousel/img2.jpg'); ">
                <div class="content_slider" >
                  <div>
                    <!-- <h2>Imagen 2</h2>
                <p>Escribe el texto que aparecerá sobre la imagen número 2</p>
                <a href="#" target="_blank" class="btnSlider">Acceder</a> -->
              </div>
                </div>
              </li>
              <li style="background-image: url('../Resources/carrousel/img3.jpg'); ">
                <div class="content_slider" >
                  <div>
                    <!-- <h2>Imagen 3</h2>
                <p>Escribe el texto que aparecerá sobre la imagen número 3</p>
                <a href="#" target="_blank" class="btnSlider">Acceder</a> -->
              </div>
                </div>
              </li>
           </ul>
         </section>
                 <!-- carousel ends-->
                 <!-- login frm -->
        <div class="contentBx">
            <div id="frm-login" class="formBx">
                <div class="logo-content">
                    <img src="../Resources/tecnologico-de-monterrey-blue.png" alt="">
                    <img src="../Resources/universidad-tecmilenio9655.jpg" alt="">
                </div>
                <h2>Iniciar sesión</h2>
                <form id="logform"  action="../Models/login.php" method="POST">
                  <div class="inputBx">
                      <i class="material-symbols-outlined">
                          person
                      </i>
                      <input type="email" placeholder="hola@tecmilenio.com.mx" name="usuario">
                  </div>
                  <div class="inputBx">
                      <i class="material-symbols-outlined">
                          lock
                      </i>
                      <input type="password" required placeholder="Ingresa tu contraseña" name="pass">
                  </div>
                  <div class="inputBx">
                      <input type="submit" value="Iniciar sesión" id="btn-click">
                  </div>
                  <div id="errorMensaje" class="mensajeError" style="display: none;">Credenciales incorrectas</div>
                  <div class="inputBx">
                      <p><a id="open-modal" href="#">¿Olvidaste tu contraseña?</a></p>
                  </div>
                  <div class="inputBx">
                      <p>¿No te has registrado aún? <a href="#" id="linkToRegister">Registrarse</a></p>
                  </div>
                  <div class="inputBx">
                      <p>¿Necesitas ayuda? Contactanos</p>
                      <ul>
                          <li><a href="#">Alumnos y egresados Tec de Monterrey</a></li>
                          <li><a href="#">Alumno Tecmilenio</a></li>
                          <li><a href="#">Colaboradores</a></li>
                          <li><a href="#">Avisos de privacidad</a></li>
                      </ul>
                  </div>
              </form>
            </div>
            <!-- login ends -->
            <!-- register frm -->
            <div id="frm-register" class="formBx">
                <div class="content-indications">
                    <h1>Registrarse</h1>
                    <p>Campos obligatorios marcados con <span>*</span></p>
                </div>
              <div class="info-gen">
                <span><p>¿Ya tienes una cuenta? <a id="linkToLogin" href="#">Iniciar sesión</a></p></span>
              </div>
              <form id="formRegistro"  method="POST">
              <div class="input-box">
                  <label>Nombre completo<span class="required">*</span></label>
                  <input type="text" placeholder="" required name="nombre"/>
              </div>
                <div class="input-box">
                  <label>Dirección de correo electrónico<span class="required">*</span></label>
                  <input type="text" placeholder="hola@tecmilenio.com.mx" required name="correo"/>
                </div>
                <div class="column">
                  <div class="input-box">
                      <label for="">Contraseña<span class="required">*</span></label>
                      <input id="inpPass1" type="password" placeholder="" required name="contrasenia">
                  </div>
                  <div class="input-box">
                      <label for="">Confirmar contraseña<span class="required">*</span></label>
                      <input id="inpPass2" type="password" placeholder="" required name="confcontra">
                      <div class="error-message" id="error-message">Las contraseñas no coinciden.</div>
                  </div>
                </div>
                <div class="column">
                  <div class="input-box">
                    <label>Matricula<span class="required">*</span></label>
                    <input type="number" placeholder="" required name="matricula"/>
                  </div>
                  <div class="input-box">
                                          <!-- not required -->
                      <label>Número de teléfono<span class="required"></span></label>
                      <input type="number" placeholder="" name="telefono" />
                  </div>
                  <div class="input-box">
                    <label>Fecha de nacimiento<span class="required" >*</span></label>
                    <input type="date" placeholder="" required name="Fecha_N"/>
                  </div>
                </div>
                <div class="gender-box">
                  <h3>Tipo<span class="required">*</span></h3>
                  <div class="gender-option">
                    <div class="gender">
                      <input type="radio" id="check-male" name="gender"value="alumno" checked />
                      <label for="check-male">Alumno</label>
                    </div>
                    <div class="gender">
                      <input type="radio" id="check-female" name="gender"value="empleado" />
                      <label for="check-female">Empleado</label>
                    </div>
                  </div>
                </div>
                <div class="input-box address">
                  <label>Domicilio</label>
                  <input type="text" placeholder="ex. Paseo de los leones apt 505" name="domicilio"/>
                  <div class="column">
                    <div class="select-box">
                      <select name="pais">
                        <option hidden>País</option>
                        <option>México</option>
                      </select>
                    </div>
                    <input type="text" placeholder="Ciudad" name="ciudad"/>
                    <input type="number" placeholder="Código postal" name="cp"/>
                  </div>
                </div>
                <button id="btn-submit" >Guardar</button>
              </form>
          </div>
          <!-- register ends -->
        </div>
    </section>
    <!-- Password recovery -->
    <dialog id="modal" class="modal">
        <div class="wrapper">
            <div class="container">
              <div class="title-section">
                <h2 class="title">Recuperación de la cuenta</h2>
                <p class="para">Te enviaremos un código a tu correo electrónico registrado para reestablecer tu contraseña.</p>
              </div>
              <form class="form" id="formRecuperacion" action="../Models/phpmailer.php" method="post">
                <div class="input-group">
                  <label for="" class="label-title">Ingresa tu correo electrónico</label>
                  <input type="email" name="email" placeholder="hola@tecmilenio.com.mx" required>
                  <span class="icon">&#9993</span>
                </div>
                <div class="input-group">
                  <button class="submit-button" type="">Enviar</button>
                </div>
                
              </form>
              <div class="input-group">
                <button id="close-modal" class="submit-button" type="">Cerrar</button>
            </div>
            </div>
          </div>
      </dialog>
      <!-- form para ingresar el codigo enviado al email -->
      <dialog id="modal2" class="modal">
      <div class="wrapper">
        <div class="container">
          <div class="title-section">
            <h2 class="title">Recuperación de la cuenta</h2>
            <p class="para">Ingresa el código enviado a tu email para reestablecer la contresaña.</p>
          </div>
          <form class="form" id="formRecuperacion2" action="../Models/phpmailer2.php" method="post">
            <div class="input-group">
              <label for="" class="label-title">Ingresa el código</label>
              <!-- <input type="email" name="email" placeholder="hola@tecmilenio.com.mx">
              <span class="icon">&#9993</span> -->
            </div>
            <div class="container">
              <div class="input-field">
                <input class="pin-input" maxlength="1" id="pin1" type="number" required>
                <input class="pin-input" maxlength="1" id="pin2" type="number" required>
                <input class="pin-input" maxlength="1" id="pin3" type="number" required>
                <input class="pin-input" maxlength="1" id="pin4" type="number" required>
                <input class="pin-input" maxlength="1" id="pin5" type="number" required>
                <input class="pin-input" maxlength="1" id="pin6" type="number" required>
              </div>
            </div>
            <div class="input-group">
              <button class="submit-button" type="submit">Enviar</button>

            </div> 
          </form>
          <div class="input-group">
            <button id="close-modal2" class="submit-button" type="">Cerrar</button>
        </div>
        </div>
      </div>
      </dialog>
      <!-- form para restablecer el password -->
      <dialog id="modal3" class="modal">
        <div class="wrapper">
          <div class="container">
            <div class="title-section">
              <h2 class="title">Recuperación de la cuenta</h2>
              <p class="para">Bien hecho, ahora puedes restablecer tu contraseña</p>
            </div>
            <form class="form" id="formRecuperacion3" action="" method="post">
              <div class="input-group">
                <label for="" class="label-title">Nueva contraseña</label>
                <input id="inpPass3" type="password" name="password" placeholder="" required>
                <!-- <span class="icon">&#9993</span>  -->
              </div>
              <div class="input-group">
                <label for="" class="label-title">Repite tu contraseña</label>
                <input id="inpPass4" type="password" name="password" placeholder="" required>
                <div class="error-message" id="error-message2">Las contraseñas no coinciden.</div>
                <!-- <span class="icon">&#9993</span>  -->
              </div>
              <div class="input-group">
                <button id="btn-submit2" class="submit-button" type="">Guardar</button>
              </div> 
            </form>
            <div class="input-group">
              <button id="close-modal3" class="submit-button" type="">Cerrar</button>
          </div>
          </div>
        </div>
      </dialog>
<script src="../Views/showFrm.js"></script>    
<script src="../Controllers/PassRepeatValidation.js"></script>
<script src="../Controllers/inputFields.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../Controllers/cleanInputs.js"></script>
<script>
  $(document).ready(function() {
    $('#formRegistro').submit(function(event) {
        event.preventDefault();          
        $.ajax({
            type: 'POST',
            url: '../Models/registro.php',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    if(response.message === 'error') {
                      Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    } else {
                      Swal.fire({
                        title: 'Éxito',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then(function() {
                        // Abre el modal2 después de hacer clic en 'Ok'
                        window.location.reload();
                    });  
                     
                    }
                } else {
                    // Manejar otros errores enviados desde PHP
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              Swal.fire({
                        title: 'Error',
                        text: 'Error en la solicitud AJAX: ' + textStatus,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });  
             
            }
        });
    });
      var urlParams = new URLSearchParams(window.location.search);
      var error = urlParams.get('error');

      if (error && error.trim() !== "") { // Check if 'error' is not empty or null
          $('#errorMensaje').text(decodeURIComponent(error)).show();
      } else {
          $('#errorMensaje').hide(); // Make sure it's hidden if there's no error
      }
      $('#formRecuperacion').on('submit', function(e) {
        e.preventDefault(); // Evita que el formulario se envíe de la manera tradicional
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(), // Envía los datos del formulario
            success: function(response) {
                var data = JSON.parse(response);
                document.getElementById('modal').close();
                if(data.status === 'success') {
                    Swal.fire({
                        title: 'Éxito',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then(function() {
                        // Abre el modal2 después de hacer clic en 'Ok'
                        document.getElementById('modal2').showModal();
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            },
            error: function() {
                // Manejar errores aquí
                alert('Error al enviar el formulario.');
            }
        });
    });
    $('#formRecuperacion2').on('submit', function(e) {
    e.preventDefault();
    // Evita que el formulario se envíe de la manera tradicional
    $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
         // Envía los datos del formulario
        success: function(response) {
            var data = JSON.parse(response);
            if (data.status === 'success') {
                Swal.fire({
                    title: 'Éxito',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            } else {
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
        },
        error: function(xhr, status, error) {
        console.log("Error: " + error);
        console.log("Status: " + status);
        console.log(xhr);
        
    }
        });
    });
    $('#logform').submit(function(event) {
        event.preventDefault(); // Previene el envío normal del formulario

        var formData = $(this).serialize(); // Serializa los datos del formulario

        $.ajax({
            type: 'POST',
            url: '../Models/login.php',
            data: formData,
            success: function(response) {
                // Aquí manejas lo que sucede después de recibir la respuesta del servidor
                if (response.status === "success") {
                  Swal.fire({
                        title: 'Éxito',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    }).then(function() {
                        // Abre el modal2 después de hacer clic en 'Ok'
                        setTimeout(function() {
                        window.location.href = './home.html'; 
                    }, 2000);
                       
                    });
                } else {
                    // Mostrar mensaje de error
                    Swal.fire({
                    title: 'Error',
                    text: response.message,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                }
            },
            error: function() {
                console.error('Error en la solicitud AJAX');
                Swal.fire({
                    title: 'Error',
                    text: response.message,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                }); 
            }
        });
    });
  });
  </script>
</body>
</html>