<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- add CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/side-bar.css" />
    <link rel="stylesheet" href="../Styles/kardex.css" />
    <title>Kardex</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <i class="bx bx-menu" id="sidebarOpen"></i>
      </div>
    </nav>
    <nav class="sidebar" id="sidebar">
      
    </nav>
    <div class="container">
      <div class="content">
        <h3>Kardex</h3>
        <p>Consulta del kardex escolar.</p>
      </div>
    </div>
    <div class="kardex-container">
      <div class="kardex-content">
        <ul>
          <li><p>Nombre</p> <span id="name">Humberto Hiram Salas Tenorio</span></li>
          <li><p>Promedio</p><span id="prom">98.56</span></li>
          <li><p>Matricula</p><span id="mat">1806610</span></li>
          <li><p>Campus</p><span id="Campus">San Nicolas de los Garza</span></li>
        </ul>
      </div>
    </div>
    <div class="container2">
      <div class="content2">
        <table>
          <thead>
              <tr class="circle">
                  <th>Clave</th>
                  <th>Creditos</th>
                  <th>Materia</th>
                  <th>1 opo</th>
                  <th>2 opo</th>
                  <th>3 opo</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
    <div class="container2">
      <div class="content2"></div>
    </div>
    <script src="../Controllers/sideBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $(document).ready(function () {
        obtenerMenu()

        $('#sidebar').on('click', '#logoutButton', function(e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '../Models/logout.php',
            success: function(response) {
                Swal.fire({
                    title: 'Éxito',
                    text: 'Tu sesión ha sido cerrada con éxito. Serás redirigido a la página de inicio.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.value) {
                        window.location.href = './index.html';
                    }
                });
            },
            error: function() {
                alert('Error al cerrar sesión');
            }
        });
    });

      function obtenerMenu() {
        $.ajax({
            url: '../Models/menu.php',
            success: function (response) {
                // Actualizar el contenido del menú
                $('#sidebar').html(response);
            },
            error: function () {
                // Manejar errores en la solicitud AJAX
                console.log('Error al obtener el menú');
            }
            });
        }
      });
  
  </script>
  </body>
</html>
