<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
  />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/side-bar.css">
    <link rel="stylesheet" href="../Styles/calificaciones.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Calificaciones</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <i class="bx bx-menu" id="sidebarOpen"></i>
      </div>
    </nav>
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <li class="menu_item">
            <a href="../Views/home.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home"></i>
              </span>
              <span class="navlink">Home</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/misCalificaciones.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis calificaciones</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/misCursos.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis cursos</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/configuracion.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Settings</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/moreOptions.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Ver todo</span>
            </a>
          </li>
          <div class="bottom-content">
          <!-- user profile  -->
          <div class="profile_section">
            <div class="profile_info">
              <a href="../Views/userProfile.html">
                <img src="../Resources/Profile-pics/kimson-doan-HD8KlyWRYYM-unsplash.jpg" alt="Imagen de perfil" class="profile_image">
              </a>
              <!-- <p class="user-name" id="correo"></p> -->
            </div>
          </div>
          <!-- Cerrar sesión -->
          <div class="logout-container">
            <li class="menu_item">
              <a href="#" id="logoutButton" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-log-out"></i>
                </span>
                <span class="navlink">Cerrar sesión</span>
              </a>
            </li>
          </div>
          </div>
        <div class="collapse_content">
          <div class="collapse expand_sidebar">
            <span></span>
            <i class="bx bx-chevron-right"></i>
          </div>
          <div class="collapse collapse_sidebar">
            <span></span>
            <i class="bx bx-chevron-left"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <h3>Mis calificaciones</h3>
        <p>Consulta resultados totales y parciales del curso presente o posteriores.</p>
        <div class="instructions">
          <p>Selecciona el periodo a consultar:</p>
        </div>
            <!-- filter start -->
    <div class="search-bar">
      <div class="dropdown">
        <div id="drop-text" class="dropdown-text">
          <span id="span">Periodo</span>
          <i id="icon" class="fa-solid fa-chevron-down"></i>
        </div>
        <!-- selector de periodo de calificaciones -->
        <ul id="list" class="dropdown-list">
          <li class="dropdown-list-item">Periodo Ago 2023 - Dic 2023</li>
          <li class="dropdown-list-item">Periodo Ago 2024 - Dic 2024</li>
          <li class="dropdown-list-item">Periodo Ago 2025 - Dic 2025</li>
          <li class="dropdown-list-item">Periodo Ago 2026 - Dic 2026</li>
        </ul>
      </div>
                <!-- text field para buscar materia en especifico -->
      <div class="search-box">
        <input type="text" id="search-input" placeholder="Buscar materia"/>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
        <!-- filter ends -->
        </div>
      </div>
      <div class="container" id="contenedorPrincipal">
       
    <script src="../Controllers/sideBar.js"></script>
    <script src="../Controllers/dropDown.js"></script>
    <script>

      
      $(document).ready(function () {
      
      $('form').submit(function (event) {
      event.preventDefault();
            
      $('#contenedorPrincipal').empty();
      // Llamar a la función obtenerCursos con la acción actualizada, la nueva búsqueda y la categoría
      obtenerCursos();
      }); 
          
          obtenerCursos();

          function obtenerCursos() {
              $.ajax({
                  url: '../Models/tarjetaCalif.php',
                  type: 'GET',
                  dataType: 'json',
                  data: {                      
                  },
                  success: function (response) {
                      // Utilizar los datos recibidos en el arreglo
                      if (response && response.length > 0) {
                          console.log(response);
                        
                          tarjetaCursos(response);
                         
                         
                      } else {
                          console.log("La respuesta está vacía.");
                      }
                  },
                  error: function (xhr, status, error) {
                      console.error(error);
                      // Mostrar una alerta antes de redirigir
                          alert('¡Oh, no! Parece que algo salió mal. Por favor, inicia sesión para continuar.');

                      // Redirigir a index.html con un mensaje de no inicio de sesión
                      
                  }
              });
          }
          
          function tarjetaCursos(cursos) {
              cursos.forEach(function (curso) {
                  let costo = curso.Precio;
                 
                  $("#contenedorPrincipal").append(`
                  <div class="card">
                 
                  <div class="card-content">
                    <h3>Materia: ${curso.Curso}</h3>
                    <h3>Oportunidad: ${curso.Oportunidad}</h3>
                    <h3>Profesor: ${curso.Profesor}</h3>
                    <h3>Primer parcial: ${curso.PrimerParcial}</h3>
                    <h3>Segundo parcial: ${curso.SegundoParcial}</h3>
                    <h3>Tercer parcial: ${curso.TercerParcial}</h3>
                    <h3>Calificación final: ${curso.Promedio}</h3>
                  </div>
                </div>                                  
              `);
              });

          }
          $(window).scroll(function () {
              if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                  pagina++;
                  obtenerCursos(); // Carga más cursos al llegar al final de la página
              }
          });

          
      });
  </script>
  </body>
</html>
