<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- add CSS -->
    <link rel="stylesheet" href="../Styles/more-options.css" />
    <link rel="stylesheet" href="../Styles/side-bar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Más opciones</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <i class="bx bx-menu" id="sidebarOpen"></i>
      </div>
    </nav>
    <nav class="sidebar" id="sidebar">
     
    </nav>
    <div class="container">
      <a href="#">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Mi correo electrónico</h3> -->
            <p class="description">Ingresa a tu correo electrónico</p>
            <img src="../Resources/more-options/email.png" alt="">
          </div>
        </div>
      </a>
      <a href="../Views/inscripcion.html">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Inscripción</h3> -->
            <p class="description">Realizar inscripción a un curso</p>
            <img src="../Resources/more-options/inscripcion.png" alt="">
          </div>
        </div>
      </a>
      <a href="../Views/misCursos.html">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Mis cursos</h3> -->
            <p class="description">Ver mis cursos inscritos</p>
            <img src="../Resources/more-options/cursos.png" alt="">
          </div>
        </div>
      </a>
      <a href="../Views/misCalificaciones.html">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Mis calificaciones</h3> -->
            <p class="description">Ver mis calificaciones</p>
            <img src="../Resources/more-options/calificaciones.png" alt="">
          </div>
        </div>
      </a>
      <a href="../Views/kardex.html">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Kardex</h3> -->
            <p class="description">Ver mi kardex</p>
            <img src="..//Resources/more-options/kardex.png" alt="">
          </div>
        </div>
      </a>
      <a href="../Views/configuracion.html">
        <div class="card">
          <div class="card-content">
            <!-- <h3>Configuración</h3> -->
            <p class="description">Configuración del sitio</p>
            <img src="../Resources/more-options/ajustes.png" alt="">
          </div>
        </div>
      </a>
    </div>
    <script src="../Controllers/sideBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $(document).ready(function () {
        obtenerMenu()

        $('#sidebar').on('click', '#logoutButton', function(e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '../Models/logout.php',
            success: function(response) {
                Swal.fire({
                    title: 'Éxito',
                    text: 'Tu sesión ha sido cerrada con éxito. Serás redirigido a la página de inicio.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.value) {
                        window.location.href = './index.html';
                    }
                });
            },
            error: function() {
                alert('Error al cerrar sesión');
            }
        });
    });

      function obtenerMenu() {
        $.ajax({
            url: '../Models/menu.php',
            success: function (response) {
                // Actualizar el contenido del menú
                $('#sidebar').html(response);
            },
            error: function () {
                // Manejar errores en la solicitud AJAX
                console.log('Error al obtener el menú');
            }
            });
        }
        function obtenerMenu() {
        $.ajax({
            url: '../Models/menu.php',
            success: function (response) {
                // Actualizar el contenido del menú
                $('#sidebar').html(response);
            },
            error: function () {
                // Manejar errores en la solicitud AJAX
                console.log('Error al obtener el menú');
            }
            });
        }
        function hideSidebar() {
              const sidebar = document.querySelector('.sidebar');
              
              sidebar.classList.add('close');
          }

          
          function resetTimer() {
              
              if (window.sidebarTimer) {
                  clearTimeout(window.sidebarTimer);
              }
              
              window.sidebarTimer = setTimeout(hideSidebar, 2000); 
          }

         
          document.addEventListener('mousemove', resetTimer);
          document.addEventListener('keypress', resetTimer);

          
          resetTimer();
      });
  
  </script>
  </body>
</html>
