<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Styles/side-bar.css" />
    <link rel="stylesheet" href="../Styles/user-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Username</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <i class="bx bx-menu" id="sidebarOpen"></i>
      </div>
    </nav>
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <li class="menu_item">
            <a href="../Views/home.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home"></i>
              </span>
              <span class="navlink">Home</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/misCalificaciones.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis calificaciones</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/misCursos.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cloud-upload"></i>
              </span>
              <span class="navlink">Mis cursos</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/configuracion.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Settings</span>
            </a>
          </li>
          <li class="menu_item">
            <a href="../Views/moreOptions.html" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Ver todo</span>
            </a>
          </li>
          <div class="bottom-content">
          <!-- user profile  -->
          <div class="profile_section">
            <div class="profile_info">
              <a href="../Views/userProfile.html">
                <img src="../Resources/Profile-pics/kimson-doan-HD8KlyWRYYM-unsplash.jpg" alt="Imagen de perfil" class="profile_image">
              </a>
              <!-- <p class="user-name" id="correo"></p> -->
            </div>
          </div>
          <!-- Cerrar sesión -->
          <div class="logout-container">
            <li class="menu_item">
              <a href="#" id="logoutButton" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-log-out"></i>
                </span>
                <span class="navlink">Cerrar sesión</span>
              </a>
            </li>
          </div>
          </div>
        <div class="collapse_content">
          <div class="collapse expand_sidebar">
            <span></span>
            <i class="bx bx-chevron-right"></i>
          </div>
          <div class="collapse collapse_sidebar">
            <span></span>
            <i class="bx bx-chevron-left"></i>
          </div>
        </div>
      </div>
    </nav>
    <section class="seccion-perfil-usuario">
      <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
          <div class="perfil-usuario-avatar">
            <img
              src="../Resources/Profile-pics/kimson-doan-HD8KlyWRYYM-unsplash.jpg"
              alt="img-avatar"
            />
            <button type="button" class="boton-avatar">
              <i class="far fa-image"></i>
            </button>
          </div>
          <!-- <button type="button" class="boton-portada">
            <i class="far fa-image"></i> Cambiar fondo
          </button> -->
        </div>
      </div>
      <div id="edit-info" class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
          <div class="edit-info">
                      <!-- register frm -->
          <div id="frm-edit" class="formBx">
            <form id="formRegistro"  method="POST">
            <div class="input-box">
              <label>Nombre completo<span class="required">*</span></label>
              <input type="text" placeholder="" required name="nombre"/>
            </div>
            <div class="input-box">
              <label
                >Dirección de correo electrónico<span class="required"
                  >*</span
                ></label
              >
              <input
                type="text"
                placeholder="hola@tecmilenio.com.mx"
                required name="correo"
              />
            </div>
            <div class="column">
              <div class="input-box">
                <label>Matricula<span class="required">*</span></label>
                <input type="number" placeholder="" required name="matricula"/>
              </div>
              <div class="input-box">
                <!-- not required -->
                <label>Número de teléfono<span class="required"></span></label>
                <input type="number" placeholder=""name="telefono" />
              </div>
            </div>
            <div class="input-box">
              <label
                >Fecha de nacimiento<span class="required">*</span></label
              >
              <input type="date" placeholder="" required name="Fecha_N"/>
            </div>
            <div class="input-box address">
              <label>Domicilio</label>
              <input
                type="text"
                placeholder="ex. Paseo de los leones apt 505"
                name="domicilio"
              />
              <div class="column">
                <div class="select-box">
                  <select name="pais">
                    <option hidden>País</option>
                    <option>México</option>
                  </select>
                </div>
                <input type="text" placeholder="Ciudad" name="ciudad"/>
                <input type="number" placeholder="Código postal" name="cp"/>
              </div>
              <div class="input-box">
                <label>Descripción</label>
                <textarea id="miTextarea" maxlength="100"></textarea>
                <p id="contador-caracteres">Caracteres restantes: 100</p>
              </div>
            </div>
            <div class="buttons">
              <button id="btn-submit">Guardar</button>            
              <button id="btn-cancel">Cancelar</button>
            </div>
          </form>
          </div>
          <!-- register ends -->
          </div>
        </div>
      </div>
      <div id="info-view" class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo" id="nombre">Nombre del Usuario</h3>
            <p class="texto" id="correo">Correo Electrónico</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i><span id="ciudad">Ciudad: </span></li>
                <li><i class="icono fas fa-map-signs"></i><span id="calle">Dirección de Usuario: </span></li>
                <li><i class="icono fas fa-phone-alt"></i><span id="telefono">Teléfono: </span></li>
                <li><i class="icono fas fa-calendar-alt"></i><span id="fecha_nacimiento">Fecha de Nacimiento: </span></li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-user-check"></i><span id="registro">Activo</span></li>
                <li><i class="icono fas fa-building"></i><span id="carrera"> LMAD</span></li>
                <li><i class="icono fas fa-share-alt"></i><span id="matricula">Número de Matricula: </span></li>
            </ul>
        </div>
        <div class="first-div">
            <div class="second-div">
                <button id="btn-edit">Editar</button>
            </div>
        </div>
    </div>
    
    
    </section>
    <script src="../Controllers/sideBar.js"></script>
    <script src="../Controllers/characterCounter.js"></script>
    <script src="../Controllers/showEditInfo.js"></script>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: '../Models/perfil.php',
          type: 'GET',
          dataType: 'json',
          statusCode: {
            302: function() {
              // Redirigir al usuario a la página de inicio
              window.location.href = './index.html';
            }
          },
          success: function(response) {
            
            $('#matricula').text(response.matricula);
            $('#pais').text(response.pais);
            $('#ciudad').text(response.ciudad);
            $('#fecha_nacimiento').text(response.fecha_nacimiento);
            $('#calle').text(response.calle);
            $('#telefono').text(response.telefono);
            $('#nombre').text(response.nombre);
           
            $('#correo').text(response.correo);
          },
          error: function(xhr, status, error) {
            
            console.error(error);
          }
        });

        $('#formRegistro').submit(function(event) {
          
          event.preventDefault();          
          $.ajax({
              type: 'POST',
              url: '../Models/editUser.php',
              data: $(this).serialize(),
              dataType: 'json',
              success: function(response) {
                  
                  console.log('Respuesta recibida: ', response);
                  alert('Cambios Guardados, ');
                  window.location.reload();
              },
              error: function() {
                  
                  console.error('Error en la solicitud AJAX');
              }
          });
      });
      });
    </script>
  </body>
</html>
