.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;

}
.content{
    margin-top: 100px;
}
.content h3{
    color: black;
    font-weight: 600;
    font-size: 1.5em; 
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--main-color);
    display: inline-block;
    letter-spacing: 1px;
}
.content p{
}