:root {
  --white: #fff;
  --main-color: #2639e3;
  --secondary-color: #4aa1d3;
  --grey: #434141;
  --light-grey: #aaa;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
/* :root {
    --blue: #9ab3f5;
    --purple: #9a1663;
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  } */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.content {
  margin-top: 100px;
}
.content h3 {
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--main-color);
  display: inline-block;
  letter-spacing: 1px;
}
.content p {
  font-size: 20px;
}

.toggle-container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: flex-end; /* Alinea los elementos a la derecha */
}
.toggle-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los toggles */
}
.toggle {
  margin-left: 10px; /* Espacio entre el texto y el toggle */
  margin-right: 10px; /* Espacio entre el toggle y elementos posteriores */
}
.toggle-text {
  /* Ajusta los estilos del texto si es necesario */
}
.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  background: var(--secondary-color);
}
.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}
.setting-list {
  list-style: none;
  margin-top: 50px;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.setting-container {
  width: 25%; /* Ancho deseado del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}
